* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    background-attachment: fixed;
    background-color: #EAEAEA;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    margin-bottom: 50px;
    font-family: Arial, sans-serif;
}

header img {
    margin: 10px;
    width: 120px;
}

footer img {
    width: 120px;
    margin-left: 10px;
}

header,
nav ul {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: fit-content;
    margin: 0 auto;
}

main {
    margin: 0 15%;
    padding-bottom: 50px;
}

section,
footer {
    display: flex;
    margin: 1% 0;
}

footer div {
    width: 50%;
}

footer div p {
    float: right;
    margin-right: 10px;
}

section img {
    width: 260px;
    height: 260px;
    object-fit: contain;
    border-radius: 5px;
    margin-top: 5%;
}

#main_section {
    justify-content: center;
}

#secondary_section {
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-bottom: 70px;
}

section h2 {
    text-align: center;
    margin-top: 5px;
}

#main_section > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#main_section > article img {
    width: 300px;
    margin-top: 3%;
}

#main_section > article,
#secondary_section > article {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

header,
footer,
nav ul {
    background-color: black;
}

footer {
    color: white;
    position: fixed;
    margin: 0;
    width: 100%;
    bottom: 0;
    height: 50px;
    line-height: 50px;
}

a {
    color: #f1f5e9;
    text-decoration: none;
    font-weight: bold;
    width: max-content;
    display: block;
    height: 50px;
    width: 200px;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
}

nav ul li:hover {
    background-color: rgb(208 96 76) !important;
}

nav ul li:hover a {
    background-color: rgb(208 96 76) !important;
    color: black;
}

nav ul li.selected,
nav ul li.selected a {
    background-color: rgb(208 96 76) !important;
    color: black;
}

nav ul li:nth-of-type(1) {
    border-bottom-left-radius: 20px;
}

nav ul li:nth-of-type(4) {
    border-bottom-right-radius: 20px;
}

#main_section > article:hover,
#secondary_section > article:hover {
    background-color: rgb(208 96 76) !important;
    cursor: pointer;
}

section.maintenance {
    text-align: center;
    justify-content: center;
}

section.maintenance img {
    width: 80%;
    height: auto;
}

/*Responsive*/
@media (max-width: 800px) {
    #secondary_section {
        justify-content: center;
        flex-direction: column;
    }

    section img {
        width: 150px;
        height: 150px;
        margin-top: 0;
    }

    #main_section > article,
    #secondary_section > article {
        text-align: center;
        margin-top: 20px;
    }

    nav ul li {
        font-size: 0.8em;
    }

    #main_section > article img {
        width: 170px;
    }

    a {
        width: 94px;
    }
}